<a href="https://colab.research.google.com/github/Jordan-mackey/INFO_5502_LABS/blob/main/lab_assignment_01_JordanMackey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
# write your answer here
from collections import Counter
message = 'google.com'
answer = Counter(message)
print(answer)

Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(2) Write a Python program to sum all the items in a list. (6 points)

In [8]:
# write your answer here
my_list = [1,5,2,5,6,2,5]
total = sum(my_list)
print(total)

26

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [18]:
# write your answer here

def rewrite(word):
  first_letter = word[0]
  word = word.replace(first_letter,'$')
  word = first_letter + word[1:]
  return word

print(rewrite('blueberry'))

blue$erry

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [64]:
# write your answer here
def calculate(a,b):
  s = 3.14*(1+(a/b))**3
  print(s)

calculate(3,4)

16.8284375

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [70]:
# write your answer here
d1 = {1:10, 2:20}
d2 = {3:30, 4:40}
d3 = {5:50, 6:60}

d4 = {}

for d in (d1, d2, d3):
  d4.update(d)

print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [74]:
# write your answer here
my_tuple = ('cat', 'dog', 'giraffe', 'lion', 'turtle', 'lizard')
'snake' in my_tuple

False

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [3]:
# write your answer here

# find max
def find_max(sets):
	return (max(sets))


sets = {9,5,6,1,45,636,5,7,6}
print(find_max(sets))


# find min
def find_min(set2):
  return min(set2)

set2 = {5,6145,7,2,56,2,5632,1632,53}
print(find_min(set2))

636
2

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [6]:
# write your answer here
def dups(my_array):
  nums_set = set(my_array)    
  if len(my_array) != len(nums_set):
    return "duplicates."
  else:
    return "-1"

my_array = [5,9,4,12,6,54,1,1,6,3,5]

print(dups(my_array))

my_array = [61,9,1,5,6,3,4,7]

print(dups(my_array))

duplicates.
-1